[volttron]

# volttron_home: Path | str = field(default=Path("~/.volttron").expanduser())
instance_name = volttron
addresses = localhost
message_bus = anypubsub.messagebus.AnyPubSubMessageBus
credential_manager = volttron.platform.auth.FileBasedCredentialManager
# credential_generator: str = volttron.messagebus.zmq.ZmqCredentialGenerator
# auth_service: str = volttron.services.auth